.genres{
    display: flex;
    margin-left: 50px;
    flex-direction: row;
    gap: 5px;
    position: absolute;
    top: 5.6rem;
    right: 22.2rem;
    border-radius: 10px;
    background-color: var(--background);
    box-shadow: 0 0 12px var(--border);
    color: var(--text-primary);
    padding: 20px;
}

.genres:before{
    position: absolute;
    content: '';
    top: -0.7rem;
    right: 40rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: var(--background);
    color: var(--text-primary);
}