.movies{
    width: 88vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    background-color: var(--background);
    margin-top: 45px;
}

.content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    color: var(--text-primary);
    width: 100%;
    margin-top: 35px;
}
.title{
    text-align: center;
    color: var(--text-primary);
}

.arrows{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 35px;
    margin-bottom: 15px;
}

.arrow{
    box-shadow: 0 0 12px var(--border);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
}