.header{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--background);
    margin-bottom: 50px;
}

.left{
    margin-left: 35px;

}

.right{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-right: 95px;
}

.search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

.home{
    color: var(--text-secondary);
}

.home:hover{
    opacity: 0.7;
}

.user{
    position: absolute;
    top: 6.2rem;
    right: 4.2rem;
    width: 120px;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--background);
    box-shadow: 0 0 12px var(--border);
    color: var(--text-primary);
}

.user:before{
    position: absolute;
    content: '';
    top: -0.7rem;
    right: 2.6rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: var(--background);
    color: var(--text-primary);
}

.user_icon{
    color: var(--text-secondary);
}

.user_icon:hover{
    opacity: 0.7;
    box-sizing: border-box;
}

.ul{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}

.li{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    margin: 4px;
}

.genre_header{
    color: var(--text-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

.genre_block:hover{
    opacity: 0.7;
    padding: 10px;
    border-bottom: 2px solid var(--text-secondary);
}

.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 35px;
}

.user_budge{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid var(--text-secondary)
}

.search_block{
    padding: 10px;
    font-size: 18px;
}

.search_block:hover{
    border-bottom: 2px solid var(--text-secondary)
}

.toggle_text{
    display: flex;
    position: absolute;
    right: 450px;
    font-size: 18px;
    color: var(--text-primary);
}
