.footer{
    display: flex;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.footer_content{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    height: 50px;
}

.icons{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

a{
    color: var(--text-primary);
}

.signature{
    color: #8b949e;
}

.tv{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 3px;
    color: var(--text-primary);
}