.movie{
    flex: 17%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    width: 200px  ;
    text-decoration: none;
    box-shadow: 0 0 12px var(--border);
    border-radius: 7px;
}

a{
    text-decoration: none;
    margin-bottom: 15px;
}