body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  transition: background-color 300ms linear;

}

html{
  overflow: scroll;
}

::-webkit-scrollbar{
  display: none;
}

:root {
  --background: #DEE3E7;
  --text-primary: black;
  --text-secondary: #3700B3;
  --accent: #8e05c2;
  --border: #333;



}

[data-theme='dark'] {
  --background: #17181c;
  --text-primary: #fff;
  --text-secondary: #03DAC6;
  --accent: #8e05c2;
  --border: #808080;

}